<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Registration number</th>
      <th>Appointment</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for request <- @requests do %>
    <tr>
      <td><%= request.registration_number %></td>
      <td><%= "#{request.appointment.year}-#{request.appointment.month}-#{request.appointment.day} #{request.appointment.hour}:#{request.appointment.minute}" %></td>
    </tr>
<% end %>
  </tbody>
</table>
