<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Registration number</th>
      <th>Appointment</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for request <- @requests do %>
    <tr>
      <td><%= request.registration_number %></td>
      <td><%= request.appointment %></td>
    </tr>
<% end %>
  </tbody>
</table>
