<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Egcovac" %></h1>
  <p>Registration System for COVID-19 Vaccine</p>
  <button type="button" class="btn btn-primary">Register for vaccination</button>
  <button type="button" class="btn btn-secondary">Request status follow up</button>
</section>
